<!doctype html>
<html lang="en" ng-app="pushFoldApp">
<head>
  <meta charset="utf-8">
  <title>Push-Fold</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    body {
      font-family: Verdana;
      margin: 10px;
    }
    .btn:active,
    .btn:focus,
    .btn:active:focus {
      outline: none;
    }
    .input-group {
      margin-bottom: 10px;
    }
    .input-group-addon {
      min-width:96px;
    }
    .input-group-btn {
      width: 100%;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

  <script type="text/javascript">
    var app = angular.module('pushFoldApp', []);

    app.controller('PushFoldCtrl', function ($scope, $http) {
      $scope.antes = ['0', '10', '125', '20'];
      $scope.antesLabels = {
        '0': 'No antes',
        '10': '10% antes',
        '125': '12.5% antes',
        '20': '20% antes'
      };
      $scope.positions = ['SB', 'BTN', 'CO', 'HJ', 'BTN3', 'BTN4', 'BTN5', 'BTN6'];
      $scope.stackSizes1 = ['1BB', '2BB', '3BB', '4BB', '5BB', '6BB', '7BB'];
      $scope.stackSizes2 = ['8BB', '9BB', '10BB', '11BB', '12BB', '13BB', '14BB'];
      $scope.stackSizes3 = ['15BB', '16BB', '17BB', '18BB', '19BB', '20BB'];

      $scope.selectedAntes = '0';
      $scope.selectedStackSize = '1BB';
      $scope.selectedPosition = 'SB';

      $scope.data = {};

      $http.get('0-antes.json')
        .then(function(res){
          $scope.data['0'] = res.data;
        });
      $http.get('10-antes.json')
        .then(function(res){
          $scope.data['10'] = res.data;
        });
      $http.get('125-antes.json')
        .then(function(res){
          $scope.data['125'] = res.data;
        });
      $http.get('20-antes.json')
        .then(function(res){
          $scope.data['20'] = res.data;
        });

      $scope.getData = function(antes, stackSize, position) {
        if (typeof $scope.data[antes] !== 'undefined') {
          return $scope.data[antes][stackSize][position];
        }

        return '';
      };

      $scope.setAntes = function(antes) {
        $scope.selectedAntes = antes;
      };

      $scope.setStackSize = function(stackSize) {
        $scope.selectedStackSize = stackSize;
      };

      $scope.setPosition = function(position) {
        $scope.selectedPosition = position;
      };

    });
  </script>
</head>
<body ng-controller="PushFoldCtrl">
  <h1>Push Fold</h1>

  <div class="input-group">
    <span class="input-group-addon">Antes</span>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-repeat="ante in antes" ng-class="{'btn-primary': selectedAntes == ante}" ng-click="setAntes(ante)">{{ antesLabels[ante] }}</button>
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Stack size</span>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-repeat="stackSize in stackSizes1" ng-class="{'btn-primary': selectedStackSize == stackSize}" ng-click="setStackSize(stackSize)">{{ stackSize }}</button>
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Stack size</span>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-repeat="stackSize in stackSizes2" ng-class="{'btn-primary': selectedStackSize == stackSize}" ng-click="setStackSize(stackSize)">{{ stackSize }}</button>
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Stack size</span>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-repeat="stackSize in stackSizes3" ng-class="{'btn-primary': selectedStackSize == stackSize}" ng-click="setStackSize(stackSize)">{{ stackSize }}</button>
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Position</span>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-repeat="position in positions" ng-class="{'btn-primary': selectedPosition == position}" ng-click="setPosition(position)">{{ position }}</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Open shove range</div>
    <div class="panel-body">
      {{ getData(selectedAntes, selectedStackSize, selectedPosition) }}
    </div>
  </div>
</body>
</html>
