<!doctype html>
<html lang="en" ng-app="pushFoldApp">
<head>
  <meta charset="utf-8">
  <title>Push-Fold</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.min.css">
  <style>
    body {
      font-family: Verdana;
      margin: 10px;
      min-width: 320px;
    }
    h1 {
      font-size: 24px;
    }
    .main-content-table {
      width: 100%;
    }
    .stack-size-slider {
      height: 300px;
      width: 60px;
    }
    .range {
      float: left;
      width: 100%;
    }
    .hand-chart td {
      height: 24px;
      width: 24px;
      text-align: center;
    }
    .push {
      background-color: #8DB600;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
  <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>

  <script type="text/javascript">
    var app = angular.module('pushFoldApp', ['rzModule', 'ui.bootstrap']);

    app.controller('PushFoldCtrl', function ($scope, $http) {
      $scope.antes = ['0', '10', '125', '20'];
      $scope.positions = ['SB', 'BTN', 'CO', 'HJ', 'BTN3', 'BTN4', 'BTN5', 'BTN6'];
      $scope.callPositions = ['BB', 'SB', 'BTN', 'CO', 'HJ', 'BTN3', 'BTN4', 'BTN5', 'BTN6'];
      $scope.stackSizes = ['1BB', '2BB', '3BB', '4BB', '5BB', '6BB', '7BB', '8BB', '9BB', '10BB', '11BB', '12BB', '13BB', '14BB', '15BB', '16BB', '17BB', '18BB', '19BB', '20BB'];

      $scope.push_call_slider = {
        value: 0,
        options: {
          showTicksValues: true,
          stepsArray: ['PUSH', 'CALL']
        }
      };

      $scope.antes_slider = {
        value: 0,
        options: {
          showTicksValues: true,
          stepsArray: ['0%', '10%', '12.5%', '20%']
        }
      };

      $scope.stack_size_slider = {
        value: 0,
        options: {
          showTicksValues: true,
          stepsArray: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'],
          vertical: true
        }
      };

      $scope.push_position_slider = {
        value: 0,
        options: {
          showTicksValues: true,
          stepsArray: ['SB', 'BTN', 'CO', 'HJ', 'BTN3', 'BTN4', 'BTN5', 'BTN6']
        }
      };

      $scope.call_position_slider = {
        minValue: 0,
        maxValue: 1,
        options: {
          showTicksValues: true,
          stepsArray: ['BB', 'SB', 'BTN', 'CO', 'HJ', 'BTN3', 'BTN4', 'BTN5', 'BTN6']
        }
      };

      $scope.data = {
        push: {},
        call: {}
      };

      var fieldbook = 'https://api.fieldbook.com/v1/568d7f3aafe70c03003a04a1';

      $http.get(fieldbook + '/open_push_no_antes')
        .then(function(res){
          $scope.data.push['0'] = res.data;
        });
      $http.get(fieldbook + '/open_push_10_antes')
        .then(function(res){
          $scope.data.push['10'] = res.data;
        });
      $http.get(fieldbook + '/open_push_125_antes')
        .then(function(res){
          $scope.data.push['125'] = res.data;
        });
      $http.get(fieldbook + '/open_push_20_antes')
        .then(function(res){
          $scope.data.push['20'] = res.data;
        });
      $http.get('call-10-antes.json')
        .then(function(res){
          $scope.data.call['10'] = res.data;
        });

      $scope.getData = function(pushCall, antes, stackSize, heroPosition) {
        var pushCall = $scope.push_call_slider.value,
          antes = $scope.antes[$scope.antes_slider.value],
          stackSize = $scope.stackSizes[$scope.stack_size_slider.value],
          heroPosition,
          villainPosition;

        if (pushCall === 0) {
          if (typeof $scope.data.push[antes] === 'undefined') {
            return '';
          }

          var result = _.findWhere($scope.data.push[antes], {stack_size: stackSize});

          heroPosition = $scope.positions[$scope.push_position_slider.value];

          return result[heroPosition.toLowerCase()];
        }

        if (typeof $scope.data.call[antes] === 'undefined') {
          return '';
        }

        if (typeof $scope.data.call[antes][stackSize] === 'undefined') {
          return '';
        }

        heroPosition = $scope.callPositions[$scope.call_position_slider.minValue];
        villainPosition = $scope.callPositions[$scope.call_position_slider.maxValue];

        if (typeof $scope.data.call[antes][stackSize][villainPosition] === 'undefined') {
          return '';
        }

        if (typeof $scope.data.call[antes][stackSize][villainPosition][heroPosition] === 'undefined') {
          return '';
        }

        return $scope.data.call[antes][stackSize][villainPosition][heroPosition];
      };

      $scope.rankIndexMap = ['A','K','Q','J','T','9','8','7','6','5','4','3','2'];

      var chart = [
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0,0,0,0]
      ];

      $scope.getChart = function() {
        var resetChart = function(chart) {
          for (var i = 0; i <= 12; i++) {
            for (var j = 0; j <= 12; j++) {
              chart[i][j] = 0;
            }
          }
          return chart;
        };

        chart = resetChart(chart);

        var range = $scope.getData();

        if (range === '' || typeof range === 'undefined') {
          return chart;
        }

        var selectAllHands = function(chart) {
          for (var i = 0; i <= 12; i++) {
            for (var j = 0; j <= 12; j++) {
              chart[i][j] = 1;
            }
          }
          return chart;
        };

        var split = range.split(',');
        var hands = split[1].split(' ');

        var selectColumnDown = function(col, row, chart) {
          for (var i = 0; i <= row; i++) {
            chart[i][col] = 1;
          }
          return chart;
        };
        var selectRowAcross = function(col, row, chart) {
          for (var i = 0; i <= col; i++) {
            chart[row][i] = 1;
          }
          return chart;
        };
        var selectSuitedHands = function(col, row, chart) {
          for (var i = col; i > row; i--) {
            chart[row][i] = 1;
          }
          return chart;
        };
        var selectSuitedRange = function(col1, row1, col2, row2, chart) {
          for (var i = col2; i >= col1; i--) {
            for (var j = row2; j >= row1; j--) {
              chart[j][i] = 1;
            }
          }
          return chart;
        };
        var selectOffSuitHands = function(col, row, chart) {
          for (var i = row; i > col; i--) {
            chart[i][col] = 1;
          }
          return chart;
        };
        var selectSingleHand = function(col, row, chart) {
          chart[row][col] = 1;
          return chart;
        };
        var selectPairs = function(rank, chart) {
          for (var i = rank; i >= 0; i--) {
            chart[i][i] = 1;
          }
          return chart;
        };
        var rankMap = {
          A:0,
          K:1,
          Q:2,
          J:3,
          T:4,
          '9':5,
          '8':6,
          '7':7,
          '6':8,
          '5':9,
          '4':10,
          '3':11,
          '2':12
        };

        hands.forEach(function(hand) {
          if (hand === 'Any-two' || hand === 'Any') {
            return selectAllHands(chart);
          }

          if (hand === 'two') {
            return chart;
          }

          if (hand[0] === hand[1]) {
            chart = selectPairs(rankMap[hand[0]], chart);
          }

          if (hand.indexOf('x+') > -1) {
            for (var i = rankMap[hand[0]]; i >= 0; i--) {
              chart = selectColumnDown(i, 12, chart);
              chart = selectRowAcross(12, i, chart);
            }
          }

          if (hand.indexOf('-') > -1) {
            chart = selectSuitedRange(rankMap[hand[1]], rankMap[hand[0]], rankMap[hand[5]], rankMap[hand[4]], chart);
          } else {
            if (hand.indexOf('s') === 2) {
              if (hand.indexOf('s+') === 2) {
                chart = selectSuitedHands(rankMap[hand[1]], rankMap[hand[0]], chart);
              } else {
                chart = selectSingleHand(rankMap[hand[1]], rankMap[hand[0]], chart);
              }
            }
            if (hand.indexOf('o') === 2) {
              if (hand.indexOf('o+') === 2) {
                chart = selectOffSuitHands(rankMap[hand[0]], rankMap[hand[1]], chart);
              } else {
                chart = selectSingleHand(rankMap[hand[0]], rankMap[hand[1]], chart);
              }
            }
          }
        });

        return chart;
      };
    });
  </script>
</head>
<body ng-controller="PushFoldCtrl">
  <h1>Push Fold</h1>

  <rzslider rz-slider-model="push_call_slider.value" rz-slider-options="push_call_slider.options"></rzslider>
  <rzslider rz-slider-model="antes_slider.value" rz-slider-options="antes_slider.options"></rzslider>
  <h4>Position(s)</h4>
  <rzslider ng-if="push_call_slider.value == 0" rz-slider-model="push_position_slider.value" rz-slider-options="push_position_slider.options"></rzslider>
  <rzslider ng-if="push_call_slider.value == 1" rz-slider-model="call_position_slider.minValue" rz-slider-high="call_position_slider.maxValue" rz-slider-options="call_position_slider.options"></rzslider>

  <table class="main-content-table">
    <tr>
      <td class="stack-size-slider">
        <rzslider rz-slider-model="stack_size_slider.value" rz-slider-options="stack_size_slider.options"></rzslider>
      </td>
      <td>
        <div class="panel panel-default range">
          <div class="panel-heading">Range</div>
          <div class="panel-body">
            <table border="1" class="hand-chart">
              <tr>
                <td></td>
                <td>A</td>
                <td>K</td>
                <td>Q</td>
                <td>J</td>
                <td>T</td>
                <td>9</td>
                <td>8</td>
                <td>7</td>
                <td>6</td>
                <td>5</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
              </tr>
              <tr ng-repeat="chartRow in getChart() track by $index">
                <td>{{ rankIndexMap[$index] }}</td>
                <td ng-repeat="chartCell in chartRow track by $index" ng-class="{'push': chartCell == 1}"></td>
              </tr>
            </table>
            <hr>
            {{ getData() }}
          </div>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
